.page-header,#skip-to-content,.site-footer-credits{
  display:none;
}

a {
  text-decoration: none;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: rgba(254, 245, 248, 1) ;
  width : 60%;
  margin-left : 20%;
  margin-top: 100px;
  margin-bottom: 1000px;
}

.inner{
  h1 {
    color: rgba(120,120,120,1); 
    text-align: center;
    font-size:250%;
    font-weight:normal;
  }
  h2 {
    color: rgba(160,160,160,1); 
    text-align: center;
    font-size:100;
    font-family: consolas !important;
  }
}

#main-content,#content{


  h1 {
      font-family: "楷体";
      font-size: 300%;
      text-align: left;
      color: rgba(80,80,80,1); 
      font-weight: 500;
      margin-left: -30px;
  }

  h2 {
      font-family: "宋体";
      font-size: 200%;
  }

  a {
      color: rgba(150,15,15,1); 
      font-family: consolas,"宋体";
  }

  p {
      font-family: consolas,"宋体";
      font-size: 120%;
      line-height: 130%;
      color: rgba(20,20,20,1); 
  }

  li {
    font-family: "宋体";
      font-size: 120%;
      line-height: 130%;
      color: rgba(20,20,20,1); 
      margin-left: 20px;
  }

  ::selection{
      background: rgba(255, 220, 225, 1) ;
  }

  p:hover{
    transition: 0.3s;
      background: rgba(254, 242, 246, 1) ;
  }

  strong{
      font-family: "黑体";
      font-weight: normal;
  }

  q{
      font-family: "楷体";
  }

  em{
      font-family: "楷体";
      font-style:  normal;
  }

  blockquote{
    p {
      font-family: "楷体";
      width: 90% ;
      margin : 0 auto;
      font-size: 110%;
    }
  }

  hr {
      width: 70%;
      color: silver;
      margin-top:60px;
      margin-bottom:60px;
  }

}
